{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2>Регистрация</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="mb-3">
      <label class="form-label">Имя</label>
      {{ form.first_name }}
    </div>
    <div class="mb-3">
      <label class="form-label">Фамилия</label>
      {{ form.last_name }}
    </div>
    <div class="mb-3">
      <label for="id_username" class="form-label">Имя пользователя</label>
      {{ form.username }}
    </div>
    <div class="mb-3">
      <label for="id_password1" class="form-label">Пароль</label>
      {{ form.password1 }}
    </div>
    <div class="mb-3">
      <label for="id_password2" class="form-label">Подтверждение пароля</label>
      {{ form.password2 }}
    </div>
    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          {% if error|stringformat:"s" == "Этот пользователь уже существует." or error|stringformat:"s" == "A user with that username already exists." %}
            <div class="alert alert-danger">{{ error|default:"уже существует" }}</div>
          {% else %}
            <div class="alert alert-danger">{{ error }}</div>
          {% endif %}
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endfor %}
    {% endif %}
    <button type="submit" class="btn btn-primary">Зарегистрировать</button>
  </form>
</div>
{% endblock %}